In [12]:
import json

# Enter your keys/secrets as strings in the following fields
credentials = {}  
credentials['CONSUMER_KEY'] = 'VvqQnLwk7b9sR8QORpry74l6w'  
credentials['CONSUMER_SECRET'] = 'oWGNMmvVeA2PudsLFeb9tonRhEMUNW9wSW8d2tIcRLqxWaiueY'
credentials['ACCESS_TOKEN'] = '3066031444-3nhSgiI4XHejFiXonF4sIcWNYxFxaFdwdnGAnJy'
credentials['ACCESS_SECRET'] = '2siu8tBaxEajtCH7HzUau57IkO67wnXnLR23UH47nkhxL'

# Save the credentials object to file
with open("twitter_credentials.json", "w") as file:  
    json.dump(credentials, file)

In [13]:
# Import the Twython class
from twython import Twython  
import json

# Load credentials from json file
with open("twitter_credentials.json", "r") as file:  
    creds = json.load(file)

# Instantiate an object
python_tweets = Twython(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'])

# Create our query
query = {'q': '#GiletsJaunes',  
        'result_type': 'popular',
        'count': 500,
        'lang': 'fr',
        }

In [14]:
import pandas as pd

# Search tweets
dict_ = {'user': [], 'date': [], 'text': [], 'favorite_count': []}  
for status in python_tweets.search(**query)['statuses']:  
    dict_['user'].append(status['user']['screen_name'])
    dict_['date'].append(status['created_at'])
    dict_['text'].append(status['text'])
    dict_['favorite_count'].append(status['favorite_count'])

# Structure data in a pandas DataFrame for easier manipulation
df = pd.DataFrame(dict_)  
df.sort_values(by='favorite_count', inplace=True, ascending=False)  
df.head(5)

,user,date,text,favorite_count
12,RobertMenardFR,Mon Feb 04 19:55:13 +0000 2019,"""il faut arrêter d'aider ceux qui font tous le...",1686
2,edwyplenel,Tue Feb 05 17:49:45 +0000 2019,Merci aux #GiletsJaunes pour ce soutien sponta...,1618
6,jeanlassalle,Wed Feb 06 15:04:12 +0000 2019,La cause vénézuélienne est louable mais commen...,1249
9,RemyBuisine,Tue Feb 05 18:42:07 +0000 2019,DIRECT - Rassemblement de soutien à #Mediapart...,835
7,MLP_officiel,Wed Feb 06 08:29:46 +0000 2019,"📹 « A l'Assemblée, nous avons voté contre le t...",774

In [20]:
df

,user,date,text,favorite_count
12,RobertMenardFR,Mon Feb 04 19:55:13 +0000 2019,"""il faut arrêter d'aider ceux qui font tous le...",1686
2,edwyplenel,Tue Feb 05 17:49:45 +0000 2019,Merci aux #GiletsJaunes pour ce soutien sponta...,1618
6,jeanlassalle,Wed Feb 06 15:04:12 +0000 2019,La cause vénézuélienne est louable mais commen...,1249
9,RemyBuisine,Tue Feb 05 18:42:07 +0000 2019,DIRECT - Rassemblement de soutien à #Mediapart...,835
7,MLP_officiel,Wed Feb 06 08:29:46 +0000 2019,"📹 « A l'Assemblée, nous avons voté contre le t...",774
5,jeanlassalle,Tue Feb 05 11:23:05 +0000 2019,Merci à Pepito Gavroche pour son analyse qui m...,726
1,quatremer,Wed Feb 06 08:59:34 +0000 2019,27 % des Français pensent que Les Illuminati e...,694
10,JLMelenchon,Tue Feb 05 13:14:30 +0000 2019,"À #Paris, aux côtés des citoyennes et citoyens...",683
3,alexiscorbiere,Wed Feb 06 09:07:58 +0000 2019,Plus de 3000 blessés graves lors des #GiletsJa...,487
4,AQuatennens,Wed Feb 06 12:14:28 +0000 2019,🎙 #DériveAutoritaire : Votre devoir est de vei...,472
0,MLP_officiel,Wed Feb 06 09:32:42 +0000 2019,📹 « Le mouvement des #GiletsJaunes est né d'un...,465
8,valerieboyer13,Wed Feb 06 06:30:12 +0000 2019,Macron tente de transformer la révolte fiscale...,345
11,ParisMatch,Tue Feb 05 16:10:24 +0000 2019,Sondage @IfopOpinion @Fiducial pour Match : av...,328
13,ClementLanot,Tue Feb 05 02:40:41 +0000 2019,RUNGIS - Plusieurs centaines de #GiletsJaunes ...,267
14,J_Bardella,Wed Feb 06 10:51:23 +0000 2019,"« La prétendue ""#LoiAntiCasseurs"" présentée pa...",267

In [8]:
from twython import TwythonStreamer  
import csv

# Filter out unwanted data
def process_tweet(tweet):  
    d = {}
    d['hashtags'] = [hashtag['text'] for hashtag in tweet['entities']['hashtags']]
    d['text'] = tweet['text']
    d['user'] = tweet['user']['screen_name']
    d['user_loc'] = tweet['user']['location']
    return d


# Create a class that inherits TwythonStreamer
class MyStreamer(TwythonStreamer):     

    # Received data
    def on_success(self, data):

        # Only collect tweets in English
        if data['lang'] == 'fr':
            tweet_data = process_tweet(data)
            self.save_to_csv(tweet_data)

    # Problem with the API
    def on_error(self, status_code, data):
        print(status_code, data)
        self.disconnect()

    # Save each tweet to csv file
    def save_to_csv(self, tweet):
        with open(r'saved_tweets_GiletsJaunes.csv', 'a',encoding='utf-8') as file:
            writer = csv.writer(file)
            writer.writerow(list(tweet.values()))

In [19]:
# Instantiate from our streaming class
stream = MyStreamer(creds['CONSUMER_KEY'], creds['CONSUMER_SECRET'],  
                    creds['ACCESS_TOKEN'], creds['ACCESS_SECRET'])
# Start the stream
stream.statuses.filter(track='#GiletsJaunes')

KeyError: 'retweeted_status'

In [11]:
import pandas as pd  
tweets = pd.read_csv("saved_tweets_GiletsJaunes.csv",names = ["hashtags", "text", "user", "location"])  
tweets.head()

,hashtags,text,user,location
0,[],"RT @Saufalivus: ""Une langue complètement décol...",Atlas57625404,NaN
1,"['Manifestation', 'GiletsJaunes']",RT @Mediapart: «Cela peut être le début du cha...,Dudul75445530,NaN
2,"['GiletJaune', 'GiletsJaunes', 'assembleenatio...",RT @GiletsJaunesFr: La France sous protection ...,khomytov2013,"Сочи, Краснодарский край"
3,"['Fillon', 'GrandDebatNational']",RT @DubiefMarc: ❌L'affaire #Fillon a occulté l...,BabaPasCool,NaN
4,"['Benalla', 'Macron']","RT @BBR4369: 📽️ 🎶 ""#Benalla, Benalla, même si ...",soso13390,NaN

In [12]:
tweets.describe()

,hashtags,text,user,location
count,5503,5503,5503,2957
unique,641,1751,2957,1012
top,[],RT @ChalecosAmarill: MAXIMA DIFUSION\r\nPARIS ...,DuPouvoirDachat,France
freq,1365,229,85,385

In [13]:
tweets = tweets.apply(lambda x: x.astype(str).str.lower())

In [14]:
tweets = tweets.drop_duplicates(subset=['text'])

In [15]:
tweets.location.value_counts().head(10)

nan                      822
france                   157
paris, france             39
paris                     34
ile-de-france, france     25
lyon, france              14
bordeaux, france          11
strasbourg, france        10
bordeaux france           10
melbourne australia        9
Name: location, dtype: int64

In [16]:
tweets.describe()

,hashtags,text,user,location
count,1751,1751,1751,1751
unique,606,1751,1132,414
top,[],rt @france_mon_pays: cette merde #bhl est un p...,dupouvoirdachat,nan
freq,561,1,76,822

In [19]:
tweets.user.value_counts().head()

dupouvoirdachat    76
wizzaardd42        26
lemontdesculst1    13
webjournaux        11
manouchkya         10
Name: user, dtype: int64

In [41]:
import numpy as np
tweets.location.replace('nan', np.nan)

0                                          NaN
1                                          NaN
2                     сочи, краснодарский край
3                                          NaN
4                                          NaN
5                                          NaN
6       marseille au bord de la mer #régionsud
7                                          NaN
8                                       rennes
9                           patriote de france
10                                      france
11                              maine-et-loire
12                       midi-pyrénées, france
13                               arras, france
14                                         NaN
15                           région parisienne
16                                bogotá (col)
17                                        rezé
18                              alsace, france
19                                       paris
20                           région parisienne
21                                         NaN
22                                         NaN
23                                         NaN
24                                         NaN
25                                         NaN
26                                   occitanie
27                                         NaN
28                                         NaN
29                                      france
                         ...
5353                                    france
5354                              france lille
5365                             paris, france
5368                                       NaN
5378                                       NaN
5384                                       NaN
5391                                       NaN
5399                                       NaN
5404                                         🌍
5407                                       NaN
5424                                     paris
5426                                       NaN
5431                                     paris
5435                                       NaN
5437                              ou je peux …
5444                 lot-et-garonne, aquitaine
5445                                       NaN
5446                            alsace, france
5454                                       NaN
5456                          paris / banlieue
5459                                       NaN
5460                         haut-rhin, alsace
5467                                       NaN
5468                       melbourne australia
5470                                       NaN
5473              saint malo, bretagne, france
5477                             paris, france
5486                             no man's land
5491                 lot-et-garonne, aquitaine
5501                                       NaN
Name: location, Length: 1751, dtype: object

In [42]:
tweets.describe()

,hashtags,text,user,location
count,1751,1751,1751,1751
unique,606,1751,1132,414
top,[],rt @france_mon_pays: cette merde #bhl est un p...,dupouvoirdachat,nan
freq,561,1,76,822