In [1]:
import pandas as pd  
tweets = pd.read_csv("saved_tweets.csv",names = ["hashtags", "text", "user", "location"])  
tweets.head()

,hashtags,text,user,location
0,['GiletsJaunes'],"RT @RachidaElAzzz: En bas de @mediapart, ce so...",catael,France
1,['JusticeSociale'],RT @attac_fr: Attac est présent dans la manife...,Figuette44,Nantes
2,"['giletsjaunes', 'Amazon']",RT @emmanuelmaurel: Cette décision ignoble ne ...,LuranData,"Sardieu, Dauphiné"
3,['LoiAnticasseurs'],@SoMabrouk @CNEWS - Elle va être belle la #Loi...,JulienKemper,"Quimper, France"
4,"['GreveGenerale5fevrier', 'GreveGenerale', 'Gi...",RT @ChalecosAmarill: MAXIMA DIFUSION\r\nPARIS ...,cyberbull51,MEXICO

In [2]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3641 entries, 0 to 3640
Data columns (total 4 columns):
hashtags    3641 non-null object
text        3641 non-null object
user        3641 non-null object
location    2114 non-null object
dtypes: object(4)
memory usage: 113.9+ KB

In [3]:
tweets.describe()

,hashtags,text,user,location
count,3641,3641,3641,2114
unique,487,1307,2187,812
top,[],RT @ChalecosAmarill: MAXIMA DIFUSION\r\nPARIS ...,DuPouvoirDachat,France
freq,983,146,45,274

In [19]:
tweets[tweets.duplicated(subset=['text'], keep='first')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2334 entries, 15 to 3640
Data columns (total 4 columns):
hashtags    2334 non-null object
text        2334 non-null object
user        2334 non-null object
location    1353 non-null object
dtypes: object(4)
memory usage: 91.2+ KB

In [24]:
unique_text_tweets = tweets.drop_duplicates(subset=['text'])

In [28]:
unique_text_tweets.user.value_counts().head()

DuPouvoirDachat    42
jmverani           37
cykriltube         16
OnZeLeft           11
CarsonMacCuller    10
Name: user, dtype: int64

In [32]:
tweets = tweets.apply(lambda x: x.astype(str).str.lower())

In [35]:
tweets.location.value_counts().head(10)

nan                      1527
france                    317
paris, france             106
paris                      71
ile-de-france, france      38
bouches-du-rhône (13)      37
occitanie                  25
nice, france               22
paris, ile-de-france       22
rhône, rhône-alpes         21
Name: location, dtype: int64

In [36]:
tweets = tweets.drop_duplicates(subset=['text'])

In [38]:
tweets.location.value_counts().head(10)

nan                      546
france                   109
paris, france             40
paris                     38
bouches-du-rhône (13)     37
nice, france              16
ile-de-france, france     11
lille                      9
paris, ile-de-france       9
portugal                   6
Name: location, dtype: int64