In [1]:
import pandas as pd  
tweets = pd.read_csv("saved_tweets.csv",names = ["hashtags", "text", "user", "location"])  
tweets.head()

,hashtags,text,user,location
0,['GiletsJaunes'],"RT @RachidaElAzzz: En bas de @mediapart, ce so...",catael,France
1,['JusticeSociale'],RT @attac_fr: Attac est présent dans la manife...,Figuette44,Nantes
2,"['giletsjaunes', 'Amazon']",RT @emmanuelmaurel: Cette décision ignoble ne ...,LuranData,"Sardieu, Dauphiné"
3,['LoiAnticasseurs'],@SoMabrouk @CNEWS - Elle va être belle la #Loi...,JulienKemper,"Quimper, France"
4,"['GreveGenerale5fevrier', 'GreveGenerale', 'Gi...",RT @ChalecosAmarill: MAXIMA DIFUSION\r\nPARIS ...,cyberbull51,MEXICO

In [2]:
from collections import Counter  
import ast

# Extract hashtags and put them in a list
list_hashtag_strings = [entry for entry in tweets.hashtags]  
list_hashtag_lists = ast.literal_eval(','.join(list_hashtag_strings))  
hashtag_list = [ht.lower() for list_ in list_hashtag_lists for ht in list_]

# Count most common hashtags
counter_hashtags = Counter(hashtag_list)  
counter_hashtags.most_common(20)

[('giletsjaunes', 1837),
 ('grevegenerale5fevrier', 334),
 ('macron', 225),
 ('grevegenerale', 203),
 ('cgt', 129),
 ('lbd40', 128),
 ('paris', 122),
 ('strasbourg', 88),
 ('lr', 87),
 ('mediapart', 80),
 ('loianticasseurs', 78),
 ('acte12', 66),
 ('benalla', 54),
 ('lyon', 50),
 ('acte13', 49),
 ('giletjaune', 49),
 ('actexii', 46),
 ('actexiii', 39),
 ('assembleenationale', 39),
 ('loianticasseur', 37)]

In [4]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3641 entries, 0 to 3640
Data columns (total 4 columns):
hashtags    3641 non-null object
text        3641 non-null object
user        3641 non-null object
location    2114 non-null object
dtypes: object(4)
memory usage: 113.9+ KB

In [13]:
tweets['location'].value_counts().head(10)

France                   274
Paris, France            106
Paris                     56
Ile-de-France, France     38
Bouches-du-Rhône (13)     37
france                    31
occitanie                 25
Paris, Ile-de-France      22
Nice, France              22
Rhône, Rhône-Alpes        21
Name: location, dtype: int64

In [15]:
processed_tweets = tweets.copy()

In [17]:
processed_tweets.describe()

,hashtags,text,user,location
count,3641,3641,3641,2114
unique,487,1307,2187,812
top,[],RT @ChalecosAmarill: MAXIMA DIFUSION\r\nPARIS ...,DuPouvoirDachat,France
freq,983,146,45,274

In [18]:
from geopy.geocoders import Nominatim  
import gmplot

geolocator = Nominatim()

# Go through all tweets and add locations to 'coordinates' dictionary
coordinates = {'latitude': [], 'longitude': []}  
for count, user_loc in enumerate(tweets.location):  
    try:
        location = geolocator.geocode(user_loc)

        # If coordinates are found for location
        if location:
            coordinates['latitude'].append(location.latitude)
            coordinates['longitude'].append(location.longitude)

    # If too many connection requests
    except:
        pass

# Instantiate and center a GoogleMapPlotter object to show our map
gmap = gmplot.GoogleMapPlotter(30, 0, 3)

# Insert points on the map passing a list of latitudes and longitudes
gmap.heatmap(coordinates['latitude'], coordinates['longitude'], radius=20)

# Save the map to html file
gmap.draw("python_heatmap.html")

C:\Users\AmineHosni\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  after removing the cwd from sys.path.